{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="reserva-add-content">
    <div class="cliente-add-form">
        <h1>Cadastrar Reserva</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <select name="cliente_id" required>
                {% if clientes is None%}
                <option value="" selected disabled>Não há clientes cadastrados</option>
                {% else %}
                <option value="" selected disabled>Selecione um cliente</option>
                {% for cliente in clientes %}
                <option value="{{cliente.id}}">{{cliente.nome}}</option>
                {% endfor %}
                {% endif %}
            </select>
            <select name="num_vaga" required>
                {% if vagas_dispo is None%}
                <option value="" selected disabled>Não há vagas disponíveis</option>
                {% else %}
                <option value="" selected disabled>Selecione uma vaga</option>
                {% for vaga in vagas_dispo %}
                <option value="{{vaga.numero}}">{{vaga.numero}}</option>
                {% endfor %}
                {% endif %}
            </select>
            <b><p style="margin-bottom: .5em; margin-top: .5em;">Horário de entrada:</p></b>
            <input type="datetime-local" name="entrada" required>
            <b><p style="margin-bottom: .5em;">Horário de saída:</p></b>
            <input type="datetime-local" name="saida">
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}