{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="reservas-fundo">
    <div class="reservas-actions">
        <form action="{% url 'busca_cliente' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="cpf" placeholder="CPF do cliente...">
            <button type="submit">pesquisar</button>
        </form>
        <a href="{% url 'cadastrar_cliente' %}">
            <button class="btn-reservas-add"><i class="bi bi-plus"></i> Adicionar</button>
        </a>
    </div>
    <div class="reservas-content">
        {% if clientes %}
        <table>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.data_nascimento}}</td>
                <td>{{cliente.telefone}}</td>
                <td class="actions-clientes">
                    <a class="clientes-edit-btn" href="{% url 'editar_cliente_get' cliente.id %}"><i
                            class="bi bi-pencil-square edit"></i></a>
                    <a class="clientes-delete-btn" href="{% url 'deletar_cliente' cliente.id %}"><i
                            class="bi bi-trash trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3>Não há clientes cadastrados!</h2>
            {% endif %}
    </div>
</div>
{% endblock %}