{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="cliente-add-content">
    <div class="cliente-add-form">
        <h1>Cadastrar funcionário</h1>
        <form action="{% url 'cadastrar_funcionario' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="text" name="usuario" placeholder="Usuário" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}