{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="reservas-fundo">
    <div class="reservas-actions">
        <form action="{% url 'busca_funcionario' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nome de usuário do funcionário...">
            <button type="submit">pesquisar</button>
        </form>
        <a href="{% url 'cadastrar_funcionario' %}">
            <button class="btn-reservas-add"><i class="bi bi-plus"></i> Adicionar</button>
        </a>
    </div>
    <div class="reservas-content">
        {% if funcionarios %}
        <table>
            <tr>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{funcionario.first_name}}</td>
                <td>{{funcionario.username}}</td>
                <td>{{funcionario.email}}</td>
                <td class="actions-clientes">
                    <a class="alterar_senha" href="{% url 'change_password_get' funcionario.id %}">alterar senha</a>
                    <a class="clientes-edit-btn" href="{% url 'editar_funcionario_get' funcionario.id %}"><i
                            class="bi bi-pencil-square edit"></i></a>
                    <a class="clientes-delete-btn" href="{% url 'deletar_funcionario' funcionario.id %}"><i
                            class="bi bi-trash trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3>Não há funcionários cadastrados!</h2>
            {% endif %}
    </div>
</div>
{% endblock %}