{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="deletar-cliente-content">
    <div class="mensagem-content">
        <h1>Confirmar Exclusão</h1>
        <p>Tem certeza que deseja excluir a vaga "{{vaga.numero}}"?</p>
        <div class="botoes">
            <form action="{% url 'deletar_vaga' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_vaga" value="{{vaga.id}}">
                <input type="submit" value="Confirmar Exclusão">
            </form>
            <a href="{% url 'vagas' %}">Cancelar</a>
        </div>
    </div>
</div>
{% endblock %}